


@media only screen and (max-width: 600px) {


    .OptionsButtons{
        display: flex;
        justify-content: space-between;
        margin: 3vh;

    }
    .optionsInformation{

        margin-top: 10vh;
        padding: 0;
        width: 100%;
    }

}